write-kubeconfig-mode: "0644"
cni: {{ rke2_installation_cni }}
{% if inventory_hostname != groups['server'][0] %}
token: {{ hostvars[groups['server'][0]]['token'] }}
server: https://{{ rke2_installation_lb_ip }}:{{ rke2_installation_lb_rke2_api_port }}
{% endif %}
node-label:
  - server=true
disable:
  - rke2-ingress-nginx
tls-san:
  - {{ rke2_installation_lb_ip }}
  {% for host in groups['server'] -%}
  - {{ hostvars[host]['ansible_host'] }}
  {% endfor -%}